header,
footer {
  background-color: rgb(87, 184, 253);
}

.table {
  border: 1px 0 solid black;
  border-collapse: collapse;
}

/* #personnes {
  display: none;
} */

#mariages {
  text-align: center;
  vertical-align: middle;
}
